.film {
  justify-content: space-between;
  width: 190px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .film {
    width: 130px;
  }
}

.preDescription {
  width: 100%;
  padding-top: 5px;
}

.title{
  display: inline-block;
  vertical-align: center;
  font-size: 11px;
  width: 70%;
  font-weight: bold;
  padding-bottom: 10px;
  color: bisque;
  font-family: 'Calibri Light';
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 8px;
    width: 50%;

  }
}

.posters {
  height: 260px;
  width: 170px;
  padding: 10px;
  font-size: small;
  font-weight: normal;
  background: linear-gradient(45deg, #000000, #154257);
  border-radius: 10% 0 10% 0;
  opacity: 0.8;
}


@media screen and (max-width: 700px) {
  .posters {
    height: 200px;
    width: 130px;
    padding: 3px;
  }
}

.posters:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: linear-gradient(45deg, #16394b, #181717);
  opacity: 1;
}

.genre {
  display: block;
  height: 13px;
  vertical-align: center;
  padding: 5px;
  background: #FF16394B;
  font-size: 9px;
  color: bisque;
}

@media screen and (max-width: 1100px) {
  .genre {
    height: 11px;
    padding: 3px;
    font-size: 7px;
  }
}

@media screen and (max-width: 700px) {
  .genre {
    height: 8px;
    padding: 2px;
    font-size: 6px;
  }
}

.genre p {
  margin: 0;
}

.releaseDate {
  display: inline-block;
  width: 20px;
  margin-left: 15%;
  border: 1px solid;
  padding: 1px;
  font-size: 8px;
  color: bisque;
  text-align: center;
  vertical-align: center;
}

@media screen and (max-width: 700px) {
  .releaseDate {
    margin-left: 31%;
  }
}

.openModal {
  border: none;
  background: transparent;
}
